<div class="container-fluid">
     <div class="row">
          <div class="col-xs-12">
               <div class="text-center">
                    <img id="burgerLogo" src="/assets/images/burger-logo.png">
               </div>
          </div>
     </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1>The Menu</h1>

        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="">
            <p class="menuItem">  {{this.burger_name}} </p>

              <form class="burgerButton" action="burgers/update/devour/{{this.id}}?_method=PUT" method="POST">
                <button class="btn btn-primary" type="submit">Eat Da Burger!</button>
              </form>

            <hr class="divide">
          </div>
          {{/unless}}
        {{/each}}

    </div>
    <div class="col-sm-6 col-xs-12">
      <h1>Devoured Burgers</h1>
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li class="the-devoured" id="devouredBurgers">{{this.burger_name}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="make-burger-wrapper">
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 make-burger">
    <h1>Make Your Own!</h1>
    <form class="form-inline" action="burgers/create" method="POST">
      <div class="form-group">
        <input type="text" id="burgerInput" name="name" class="form-control" placeholder="Type the name of your burger..." required>
      </div>
      <button class="btn btn-primary" type="submit">Make Burger!</button>
    </form>
</div>
</div>
</div>
</div>
</div>
